body {
  padding-top: 120px;
  
}
pre {
  background: #f7f7f9;
}
@media (min-width: 768px) {
  body > .navbar-transparent {
    box-shadow: none;
  }
  body > .navbar-transparent .navbar-nav > .open > a {
    box-shadow: none;
  }
}
.nav-item-dropdown{
  color: rgb(228, 231, 228);
  align-items: center;
  text-align: center;
  padding: 5px;
  padding-top: 23px;
}

.nav-item-dropdown:hover {
  color: black;
}

.dropdown-menu{
  display: block;
  margin-top: 32px;
}
